.rating {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 100%;
}
.rating_stars {
  display: flex;
  flex-direction: row;
  width: 100px;
}
.rating_star {
  width: 20%;
  height: 100%;
  fill: rgb(199, 0, 0);
}
p {
  margin: 0;
  align-self: flex-end;
}
